<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564426786247-la65ogsl08758okrb6rd6ops5d79vaup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564426786247-la65ogsl08758okrb6rd6ops5d79vaup</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ990g4kENc6xOVVuVBVR599oCkc9cq6w</string>
	<key>GCM_SENDER_ID</key>
	<string>564426786247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>utcs.moodle</string>
	<key>PROJECT_ID</key>
	<string>moodle-a1c53</string>
	<key>STORAGE_BUCKET</key>
	<string>moodle-a1c53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564426786247:ios:c27b24063675824c0a85e2</string>
</dict>
</plist>